h1 , h2, h3 , h4 , h5 , h6 {
    font-family: 'Poppins', sans-serif;
}
p, span, small {
    font-family: 'Roboto', sans-serif;
}

.blue-text{
    color: #172774 !important;
}
.gulapi-text{
    color: #FF0075 !important;
}
.blue-background{
    background: #172774 !important;
}
.gulapi-background{
    background: #FF0075 !important;
}
.pages-banner{
  background:linear-gradient(rgb(152 152 152 / 40%), rgb(152 152 152 / 40%)), url(Images/pages-banner.jpg) no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
}

.button{
    border: 2px solid #172774;
    background: none;
  }
  .button:hover{
    background: #FF0075 !important;
    border: 2px solid #FF0075;
    color: white !important;
  }
  .button:hover .btn-text{
    color: white !important;
  }



  /* Responsive with media query */
  @media only screen and (max-width: 768px) {
    .logo {
      width: 140px !important;
    }
    .password-authentication-container, .input-box{
      width: 100% !important;
    }
    .custom-center{
      text-align: center;
    }
  }